@import '../../shared/style/theme';

header {
  position: absolute;
  top: 0;
  background: getThemeColor('headerBackground');
  @include transition();

  &#top {
    height: 60px;
    width: 100%;
    z-index: 200;
    padding-left: 120px;

    @include small {
      top: -60px;
    }

    .btn {
      background: none;
      .glyphicon {
        color: getThemeColor('headerButtonText');
        font-size: 30px;
        line-height: 1.5;
      }
    }

    .logo {
      width: 120px;
      height: 60px;
      position: absolute;
      right: -120px; // Hidden if side is shown.
      top: 0;
      margin: 0;
      padding: 15px 0 0 0;
      font-weight: 500;
      line-height: 1.1em;
      text-align: center;
      background: getThemeColor('headerLogoBackground');
      font-size: 13px;
      text-transform: uppercase;
      color: getThemeColor('headerLogoText');
      cursor: default;
      span {
        font-size: 20px;
      }
      @include transition();
    }

    &.side-hidden {
      padding-left: 0;
      .logo {
        right: 0;
      }
    }
  }

  &#side {
    top: 0;
    bottom: 0;
    position: fixed;
    width: 120px;
    z-index: 300;
    left: 0;

    &.side-hidden {
      left: -120px;
    }
  }
}

@keyframes openMenu {
  0%   {}
  25%  {}
  50%  {
    div.top {
      margin-top: 10px;
      background: red;
    }
  }
  100% {
    div.top {
      margin-top: 0;
      background: blue;
    }
  }
}


.hamburger {
  margin-top: 10px;
  width: 28px;
  height: 28px;
  div {
    width: 28px;
    height: 5px;
    background: #fff;
    position: absolute;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    &.top {
      margin-top: 0;
    }
    &.middle {
      margin-top: 10px;
    }
    &.bottom {
      margin-top: 20px;
    }
  }
  &.open {
    div {
      @include transition();
      //animation-name: openMenu;
      //animation-duration: 4s;
      //animation-iteration-count: 1;
      &.top {
        margin-top: 10px;
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
        transform: rotate(-45deg);
      }
      &.middle {
        display: none;
      }
      &.bottom {
        margin-top: 10px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
      }
    }
  }
}
