@import '../../shared/style/colors';

header {
  position: absolute;
  top: 0;
  background: getColor('foreground');
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;

  &#top {
    height: 60px;
    width: 100%;
    z-index: 200;
    padding-left: 120px;
    .btn {
      background: none;
      .glyphicon {
        color: getColor('text-light');
        font-size: 30px;
        line-height:1.5;
      }
    }

    .logo {
      width: 120px;
      height: 60px;
      position:absolute;
      right: -120px; // Hidden if side is shown.
      top: 0;
      margin: 0;
      padding: 15px 0 0 0;
      font-weight: 500;
      line-height: 1.1em;
      text-align: center;
      background: getColor('primary');
      font-size: 13px;
      text-transform: uppercase;
      color: getColor('text-light');
      cursor: default;
      span {
        font-size: 20px;
      }
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }

    &.side-hidden {
      padding-left: 0;
      .logo {
        right: 0;
      }
    }
  }

  &#side {
    top: 0;
    bottom: 0;
    position: fixed;
    width: 120px;
    z-index: 300;
    left: 0;

    &.side-hidden {
      left: -120px;
    }
  }
}
@media(min-width:768px){
  #top {
    top: -60px;
  }
}
