.future {
  h2 {
    display: none;
  }
  padding: 0 0 100px 0;
  margin: 100px 0 50px 0;
  color: #f1f1f1;
  z-index: 1;
  background: #00ac84;
  width: 100%;
  position: relative;
}

span.fa {
  position: relative;
  width: 57px;
  height: 100px;
  top: -55px;
  left: 50%;
  font-size: 100px;
  margin-left: -30px;
  color: #00ac84;
  z-index: 100;
}

.clip {
  position: absolute;
  overflow: hidden;
  width: 57px;
  height: 57px;
  top: 0;
  left: 50%;
  margin-left: -30px;

  span.fa {
    position: absolute;
    top: 0;
    font-size: 100px;
    color: #f1f1f1;
    margin-top: -55px;
    margin-left: -28px;
    z-index: 200;
  }
}
