<article>
  <div class="col-sm-offset-1 col-xs-12 col-sm-5">
    <h1><i class="fa fa-heart-o fa-fw" aria-hidden="true"></i> On a mission..</h1>
    <p><strong>
      Human beings are becoming robots, processing complex user interfaces, scattered data sources on multiple devices.
      Technology brings advantages and at the same time it's making natural interactions less common.
    </strong></p>
    <p>
      My future world is one were technology adds meaning and is integrated in a way we'll forget it's there.
      Taking for example Amazon Alexa, allowing humans to talk to perform tasks, instead of using a smartphone or laptop.
      With my work I aim at making people lives richer, breaking down the technology wall keeping us from interacting.
    </p>
  </div>
</article>
