.contact {
  h2 {
    display: none;
  }
  padding: 0 0 75px 0;
  margin: 100px 0 50px 0;
  color: #f1f1f1;
  z-index: 1;
  background: #00ac84;
  width: 100%;
  position: relative;


  span.fa {
    position: relative;
    width: 100px;
    height: 100px;
    top: -54px;
    left: 50%;
    font-size: 100px;
    margin-left: -53px;
    color: #00ac84;
    z-index: 100;
  }

  .clip {
    position: absolute;
    overflow: hidden;
    width: 110px;
    height: 57px;
    top: 0;
    left: 50%;
    margin-left: -53px;

    span.fa {
      position: absolute;
      top: 0;
      font-size: 100px;
      color: #f1f1f1;
      margin-top: -54px;
      margin-left: -55px;
      z-index: 200;
    }
  }
}

.icons {
  text-align: center;
  a {
    border-radius: 50% 50%;
    background: #fff;
    margin: 0 25px 25px 0;
    display: inline-block;

    .fa-stack {
      font-size: 50px;
      .fa-circle {
        &.twitter {
          color: #1da1f3;
          a & {
            background: #1da1f3;
          }
        }
        &.github {
          color: #333;
        }
        &.linkedin {
          color: #0077b5;
        }
        &.facebook {
          color: #3b5998;
        }
        &.sogeti {
          color: #f15029;
        }
      }
    }
  }
}

