@import '../../shared/style/theme';

.icons {
  text-align: center;
  a {
    border-radius: 50% 50%;
    margin: 0 12px 25px 12px;
    @include extra-small {
      margin: 0 5px 15px 5px;
    }
    display: inline-block;
    @include transition();
    padding: 0;
    background: getColor('white');
    &.twitter:hover   { background: getColor('twitter'); }
    &.github:hover    { background: getColor('github'); }
    &.linkedin:hover  { background: getColor('linkedin'); }
    &.facebook:hover  { background: getColor('facebook'); }
    &.mail:hover      { background: getColor('mail'); }
    &.sogeti:hover    { background: getColor('sogeti'); }

    fa-layers {
      font-size: 50px;
      fa-icon.circle {
        &.twitter     { color: getColor('twitter'); }
        &.github      { color: getColor('github'); }
        &.linkedin    { color: getColor('linkedin'); }
        &.facebook    { color: getColor('facebook'); }
        &.mail        { color: getColor('mail'); }
        &.sogeti      { color: getColor('sogeti'); }
      }
    }
  }
}
