@import '../../shared/style/theme';

section {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 120px;
  padding-top: 100px;
  width: auto;
  background: getThemeColor('mainBackground');
  @include transition();
  // hammerjs uses x-axis scrolling for swiping left / right.
  // It sets touch-action to none, preventing vertical scrolling on mobile devices.
  touch-action: pan-y !important;
  overflow: scroll;

  @include extra-small {
    top: 60px;
    left: 0;
    padding-top: 0;
  }
}
