<article>
  <div class="col-sm-offset-1 col-xs-12 col-sm-4 about">
    <h1>Who is that guy?</h1>
    <p><strong>
      Good question! Emiel is a Dutch guy, 28 years and currently living in Stockholm, Sweden.
      Emiel works for Sogeti as a Front-End Engineer, and teaches a three day AngularJS course.
      Besides that he is active member of the Sogeti Front-End Core Team and Innovation & Technology Center.
    </strong></p>
    <h2>Bio?</h2>
    <p>
      From a young age he was already fascinated by the possibilities of the digitally connected world.
      Emiel studied at the University of Applied Science of Arnhem and Nijmegen the study <a href="https://www.han.nl/opleidingen/bachelor/communicatie-multimedia-design/vt/">Communication and Multimedia Design</a>, focussing on front-end, usability and interaction design.
      After his study Emiel worked as a front-end developer four years for <a href="http://tradepoint.nl">TradePoint</a>, working on brands like <a href="http://curves.nl">Curves Holland</a>.
    </p>
    <h2>I'm a reqruiter and... </h2>
    <p>I'm sorry, I'm currently not in the market for switching carriers.</p>
  </div>
  <div class="col-sm-offset-1 col-xs-12 col-sm-6 col-md-6 col-lg-4 knowledge">
    <ek-percentage
      percentage="90"
      title="AngularJS"
      description="My knowledge on AngularJS">
    </ek-percentage>
    <ek-percentage
      percentage="45"
      title="Angular 2"
      description="My knowledge on Angular 2">
    </ek-percentage>
    <ek-percentage
      percentage="75"
      title="TypeScript"
      description="My knowledge on TypeScript">
    </ek-percentage>
    <ek-percentage
      percentage="90"
      title="HTML &amp; CSS"
      description="My knowledge on HTML & CSS">
    </ek-percentage>
  </div>
</article>
