.knowledge {
  h2 {
    display: none;
  }
  padding: 25px 0 75px 0;
  margin: 100px 0 50px 0;
  color: #f1f1f1;
  z-index: 1;
  background: #00ac84;
  width: 100%;
  position: relative;

  .charts {
    text-align: center;
  }
  span.fa {
    position: relative;
    width: 100px;
    height: 100px;
    top: -79px;
    left: 50%;
    font-size: 100px;
    margin-left: -53px;
    color: #00ac84;
    z-index: 100;
  }

  .clip {
    position: absolute;
    overflow: hidden;
    width: 110px;
    height: 57px;
    top: 0;
    left: 50%;
    margin-left: -53px;

    span.fa {
      position: absolute;
      top: 0;
      font-size: 100px;
      color: #f1f1f1;
      margin-top: -54px;
      margin-left: -55px;
      z-index: 200;
    }
  }
}

.fa-warning {
  color: #f44242;
}

.details h2 {
  margin-left: -48px;
}

ek-percentage {
  padding-right: 30px;
  display: inline-block;
}

.details {
  margin-bottom: 75px;
}

.loading {
  color: #f1f1f1;
  margin-top: -25px;
}

@media(max-width:767px){
  ek-percentage {
    padding-right: 0;
  }
}
