.knowledge {
  h2 {
    display: none;
  }
  padding: 75px 0;
  margin: 75px 0;
  background: #fafafa;
}

ek-percentage {
  padding-right: 30px;
  float: left;
}

.details {
  margin-bottom: 75px;
}

.loading {
  color: #bbb;
  margin-top: -25px;
}

@media(max-width:767px){
  ek-percentage {
    padding-right: 0;
  }
}
