@import '../../shared/style/theme';

ek-highlight {
  h2 {
    display: none;
  }
  .charts {
    text-align: center;
    > div {
      min-height: 227px; // While loading data height was 0.
    }
  }
}

.fa-warning {
  color: getThemeColor('aboutIconWarning');
}

.details {
  margin-bottom: 75px;
  h2 {
    margin-left: -48px;
  }
}

.loading {
  color: #f1f1f1;
  margin-top: -25px;
}

ek-percentage {
  padding-right: 30px;
  display: inline-block;
}

@include extra-small {
  ek-percentage {
    padding-right: 0;
  }
}
