@import 'theme';

html, body {
  background: getThemeColor('indexBodyBackground');
  width: 100%;
  height: 100%;
}

body {
  -webkit-overflow-scrolling: touch; // Make scrolling smooth again! On iOS.
}

p {
  font-size: 17px;
  line-height: 1.8em;
}

h1 span {
  margin-left: -60px;
  color: getThemeColor('indexHeadingIconText');
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

@media(max-width:767px) {
  h1 span {
    margin-left: 0;
  }
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -45px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
