<article>
  <div class="col-sm-offset-2 col-xs-12 col-sm-4 col-md-3">
    <div class="heading">
      <h4>Hi, I'm</h4>
      <h2>Emiel Kwakkel</h2>
      <h4>Software Engineer @ Sogeti</h4>
      <h4>I like
        <typewriter
          class="typewriter"
          [contents]="contents"
          [erasable]="true"
          [beforeType]="500"
          [beforeStart]="0"
          [afterEnd]="1000"
          [delay]="0"
          [speed]="40"
          [deletingAcceleration]="5"
          [deletingTopSpeed]="5"
          [cursor]="'_'"
          [cursorDelay]="-1">
        </typewriter>
      </h4>
    </div>
  </div>
  <div class="col-sm-5 col-md-7">
      <img src="assets/images/emielkwakkel.png" class="me">
  </div>
</article>
