<h2><span>Emiel</span> <br>Kwakkel</h2>
<i
  class="fa fa-spinner fa-pulse fa-3x fa-fw loading"
  aria-hidden="true"
  *ngIf="loading">
</i>
<span class="sr-only lo">Loading...</span>
<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
  <ul class="nav">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.routerLink" routerLinkActive="active">
        <i class="fa fa-fw" [ngClass]="item.iconClass" aria-hidden="true"></i>
        {{ item.text }}
      </a>
    </li>
  </ul>
</nav>
