h1 {
  width: 100%;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  background: #00ac84;
  font-size: 13px;
  text-transform: uppercase;
  color: #eee;
  cursor: default;
  span {
    font-size: 20px;
  }
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.nav>li>a {
  padding: 30px 15px;
  border-bottom: 3px solid #303030;
  color: #eee;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  i {
    font-size: 30px;
    display: block;
    margin: 0 auto;
    padding: 0 0 10px 0
  }
  &:hover {
    background: #303030;
    color: #fff;
  }
}

@media(max-width:767px){
  h1 {
    padding: 12px 0;
  }
}

@media(max-height:600px){
  .nav>li>a {
    padding: 25px 15px;
  }
}

@media(max-height:534px){
  .nav>li>a {
    padding: 15px;
  }
}

@media(max-height:440px){
  .nav>li>a {
    padding: 30px 15px;
    i {
      display: inline;
      font-size: 12px;
    }
  }
}


@media(max-height:400px){
  .nav>li>a {
    padding: 15px;
    i {
      display: inline;
      font-size: 12px;
    }
  }
}
