<h1><span>Emiel</span> <br>Kwakkel</h1>
<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
  <ul class="nav">
    <li>
      <a [routerLink]="['/home']" routerLinkActive="active">
        <span class="glyphicon glyphicon-home right" aria-hidden="true"></span>
        Home
      </a>
    </li>
    <li>
      <a [routerLink]="['/about']" routerLinkActive="active">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        About
      </a>
    </li>
    <li>
      <a [routerLink]="['/contact']" routerLinkActive="active">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        Contact
      </a>
    </li>
    <li>
      <a [routerLink]="['/mission']" routerLinkActive="active">
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        Mission
      </a>
    </li>
  </ul>
</nav>
