@import '../../shared/style/theme';

.loading {
  color: getThemeColor('menuLoading');
  top: 30%;
  margin-left: -27px;
  margin-top: 120px;
}

h2 {
  width: 100%;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  background: getThemeColor('menuTitleBackground');
  font-size: 13px;
  text-transform: uppercase;
  color: getThemeColor('menuTitleText');
  cursor: default;
  span {
    font-size: 20px;
  }
  @include transition();
  @media(max-height: 400px) { padding: 30px 0; }
  @media(max-height: 328px) { padding: 20px 0; }
  @media(max-height: 260px) { padding: 12px 0; }
  @include extra-small {
    padding: 12px 0;
  }
}

.nav > li > a {
  padding: 30px 15px;
  color: getThemeColor('menuText');
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  @include transition();
  &.active {
    background: getThemeColor('menuActiveBackground');
  }
  i {
    font-size: 30px;
    display: block;
    margin: 0 auto;
    padding: 0 0 10px 0
  }
  &:hover {
    background: getThemeColor('menuHoverBackground');
    color: getThemeColor('menuHoverColor');
  }

  @media(max-height: 600px) { padding: 25px 15px; }
  @media(max-height: 534px) { padding: 15px; }
  @media(max-height: 465px) {
    padding: 30px 15px;
    i {
      display: inline;
      font-size: 12px;
    }
  }
  @media(max-height: 400px) { padding: 20px; }
  @media(max-height: 328px) { padding: 15px; }
  @media(max-height: 260px) { padding: 10px; }
}
