html, body {
  background: #f1f1f1;
  width: 100%;
  height: 100%;
}

p {
  font-size: 16px;
}

h1 i {
  margin-left: -60px;
  color: #00ac84;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

@media(max-width:767px) {
  h1 i {
    margin-left: 0;
  }
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -45px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
